 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-django"></i>
      <i class="devicon-python"></i>
      <i class="devicon-go"></i>
      <i class="devicon-php"></i>
      <i class="devicon-ruby"></i>
      <i class="devicon-swift"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-d3js"></i>
      <i class="devicon-vuejs"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I love Python and I will always recommend it to you. But we can create your solution in different languages according to your taste.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-babel"></i>
      <i class="devicon-webpack"></i>
      <i class="devicon-travis"></i>
      <p>Best Practices, TDD development, LCDP, CI/CD DevOps.</p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Project</h2>
      <i class="devicon-slack"></i>
      <i class="devicon-gitlab"></i>
      <i class="devicon-trello"></i>
      <p>Project Management, SCRUM Management, Teamwork, Trainning.</p>
    </div>
    <div class="tech">
      <h2>All Plataforms</h2>
      <i class="devicon-android"></i>
      <i class="devicon-windows8"></i>
      <i class="devicon-linux"></i>
      <i class="devicon-apple"></i>
      <i class="devicon-docker"></i>
      <p>Web System, Desktop Systems, Mobile App, IoT, Ethererum dApp development</p>
    </div>
    <div class="tech">
      <h2>And more...</h2>
      <i class="devicon-postgresql"></i>
      <i class="devicon-mysql"></i>
      <i class="devicon-mongodb"></i>
      <i class="devicon-amazomwebservices"></i>
      <i class="devicon-redis"></i>
      <p>Software Arquiteture, Database Manager, BigData & Data Mining, IA Search, .</p>
    </div>
</div>
