 <div class="user-details">
  <h1> About Me </h1>
  <p> Full in love about new challenges, dreamy and adrenaline driven. At work full-stack programmer, software architect, project manager, teacher, audio-visual producer. Enthusiast of quantum computing, artificial intelligence and a few nerdy subjects and hobbies like chess, Rubik's cube, and robots.
I've taught programming for children and adults in technical and vocational schools, participated as a volunteer speaker for 4 years at FliSol (Latin American Free Software Installation Festival), helped digitize solutions for various startups accelerated by projects like StartupFarm, Lemonade and others.
My personal goal with each project is to add all my past knowledge to leverage projects with solid structures and ideas validated by the market, regardless of their stage of progress. </p>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-plain colored"></i>
      <i class="devicon-bower-plain colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-wordpress-plain colored"></i>
      <p>SEO Optimize, Advanced performance configuration, best and updated front-end soluttions</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-go-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-d3js-plain colored"></i>
      <i class="devicon-vuejs-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I love Python and I will always recommend it to you. But we can create your solution in different languages according to your taste.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-babel-plain colored"></i>
      <i class="devicon-webpack-plain colored"></i>
      <i class="devicon-travis-plain colored"></i>
      <p>Best Practices, TDD development, LCDP, CI/CD DevOps.</p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Project</h2>
      <i class="devicon-slack-plain colored"></i>
      <i class="devicon-gitlab-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <p>Project Management, SCRUM Management, Teamwork, Trainning.</p>
    </div>
    <div class="tech">
      <h2>All Plataforms</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-windows8-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-apple-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Web System, Desktop Systems, Mobile App, IoT, Ethererum dApp development</p>
    </div>
    <div class="tech">
      <h2>And more...</h2>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-amazomwebservices-plain colored"></i>
      <i class="devicon-redis-plain colored"></i>
      <p>Software Arquiteture, Database Manager, BigData & Data Mining, IA Search.</p>
    </div>
</div>
