<div class="testimonials-details title">
	<h1> Testimonials </h1>
	<p class="description"> Some words wrote by partners, coworkers and college teachers </p>
	<div class="testimonials-list">
		<ul>
			<li>
				<div>
					<img class="" alt="George Silva" height="56" width="56" src="/assets/img/testimonials/george.jpeg">
					<div>
						<h3>George Silva</h3>
						<p>Tech Lead at Loadsmart</p>
						<p>Em 1 de agosto de 2017, George supervisionava Antônio Carlos diretamente</p>
					</div>
				</div>
				<div>
					<blockquote>
						<div>
							<p>Antônio é um excelente profissional. É inteligente e aprende rápido. Em sua atuação na SIGMA Geosistemas, construiu boa parte de algumas aplicações sozinho, dando mentoria a outros colaboradores e ajudando a equipe a atingir o patamar de excelência esperado.</p>
						</div>
					</blockquote>
				</div>
			</li>
			<li>
				<div>
					<img class="" alt="Diego J F Campos" height="56" width="56" src="/assets/img/testimonials/diego.jpeg">
					<div>
						<h3>Diego J F Campos</h3>
						<p>Administrador, Gerente Comercial e Fascinado em Alta Performance.</p>
						<p>
							Em 27 de abril de 2015, Antônio Carlos trabalhava com Diego no mesmo grupo
						</p>
					</div>
				</div>
				<div>
					<blockquote>
						<div>
							<p>O Antônio Carlos é de fato um excelente profissional, com certeza alguém capaz de contribuir com o desenvolvimento de uma empresa e agregar valor ao ativo
devida ao seu valor intelectual. Trabalhamos juntos em diversos projetos e ele sempre entregou um resultado a cima do esperado. Este eu recomendo!</p>
						</div>
					</blockquote>
				</div>
			</li>
			<li>
				<div>
					<img class="" alt="Jeneffer Ferreira Ribeiro, M.B.A." height="56" width="56" src="/assets/img/testimonials/jeneffer.jpeg">
					<div>
						<h3>Jeneffer Ferreira Ribeiro, M.B.A.</h3>
						<p>Project Manager na Algar Tech</p>
						<p>
							Em 19 de abril de 2015, Antônio Carlos trabalhava com Jeneffer no mesmo grupo
						</p>
					</div>
				</div>
				<div>
					<blockquote>
						<div>
							<p>Atuei com o Antônio Carlos em alguns projetos e sua competência técnica em tecnologias atuais é diferenciada.
Possui capacidade de aplicar estas práticas próximas a realidade tática-operacional das empresas.
É uma pessoa organizada e com uma didática que facilita a compreensão e aplicação de suas propostas de soluções.</p>
					</blockquote>
				</div>
			</li>
			<li>
				<div> 
					<img class="" alt="Rogerio Mendes" height="56" width="56" src="/assets/img/testimonials/rogerio.jpeg">
					<div>
						<h3>Rogerio Mendes</h3>
						<p>Sr. IT Manager</p>
						<p>
							Em 10 de abril de 2015, Rogerio ensinava Antônio Carlos
						</p>
					</div>
				</div>
				<div>
					<blockquote>
						<div>
							<p>Antônio Carlos foi meu aluno no curso de Sistemas de Informação, tendo se destacado por sua seriedade e dedicação aos estudos. Sempre se mostrou comprometido em aprender e aplicar os conhecimentos adquiridos ao longo do curso.</p>
						</div>
					</blockquote>
				</div>
			</li>
		</ul>
	</div>
</div>
