<div id="ember5262" class="ember-view">
    <ul id="recommendation-list" class="section-info" tabindex="-1">
        <li id="ember5263" class="pv-recommendation-entity ember-view">
            <div class="pv-recommendation-entity__header">
                <a data-control-name="recommendation_details_profile" href="/in/georgercsilva/" id="ember5264" class="pv-recommendation-entity__member ember-view"><img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="George Silva" height="56" width="56" src="https://media.licdn.com/dms/image/C5603AQFVT95xN0VbRg/profile-displayphoto-shrink_100_100/0?e=1571270400&amp;v=beta&amp;t=oxvKsiBpC2KE6oazfmgw3d51VEQ4vdxEIdo_hEE_KEE">
                    <div class="pv-recommendation-entity__detail">
                        <h3 class="t-16 t-black t-bold">George Silva</h3>
                            <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Tech Lead at Loadsmart</p>
                            <p class="t-12 t-black--light t-normal">Em 1 de agosto de 2017, George supervisionava Antônio Carlos diretamente</p>
                    </div>
                </a>
            </div>
            <div class="pv-recommendation-entity__highlights">
                <blockquote class="pv-recommendation-entity__text relative">
                    <div id="ember5266" class="ember-view">
                        <span class="lt-line-clamp__line">Antônio é um excelente profissional. É inteligente e aprende</span>
                        <span class="lt-line-clamp__line">rápido.  Em sua atuação na SIGMA Geosistemas, construiu boa</span>
                        <span class="lt-line-clamp__line">parte de algumas aplicações sozinho, dando mentoria a outros</span>
                        <span class="lt-line-clamp__line">colaboradores e ajudando a equipe a atingir o patamar de</span>
                        <span class="lt-line-clamp__line lt-line-clamp__line--last">excelência esperado.</span>
                        <span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">... <a class="lt-line-clamp__more" href="#">Visualizar mais</a></span>
                    </div>
                </blockquote>
            </div>
      </li>
      <li id="ember5267" class="pv-recommendation-entity ember-view">
        <div class="pv-recommendation-entity__header">
          <a data-control-name="recommendation_details_profile" href="/in/diegojfcampos/" id="ember5268" class="pv-recommendation-entity__member ember-view">
            <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Diego J F Campos" height="56" width="56" src="https://media.licdn.com/dms/image/C4E03AQFJO4_mdGFi-w/profile-displayphoto-shrink_100_100/0?e=1571270400&amp;v=beta&amp;t=QTE3jgr_c7U2VV_mh9M1wsb40i1OxU6eNfqAXtDG6Nk">
            <div class="pv-recommendation-entity__detail">
              <h3 class="t-16 t-black t-bold">Diego J F Campos</h3>
              <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Administrador, Gerente Comercial e Fascinado em Alta Performance.</p>
              <p class="t-12 t-black--light t-normal">
                Em 27 de abril de 2015, Antônio Carlos trabalhava com Diego no mesmo grupo
              </p>
            </div>
          </a>
        </div>
        <div class="pv-recommendation-entity__highlights">
          <blockquote class="pv-recommendation-entity__text relative">
            <div id="ember5270" class="ember-view">    <span class="lt-line-clamp__line">O Antônio Carlos é de fato um excelente profissional, com</span>
            <span class="lt-line-clamp__line">certeza alguém capaz de contribuir com o desenvolvimento de</span>
            <span class="lt-line-clamp__line">uma empresa e agregar valor ao ativo  devida ao seu valor</span>
            <span class="lt-line-clamp__line">intelectual. Trabalhamos juntos em diversos projetos e ele</span>
            <span class="lt-line-clamp__line lt-line-clamp__line--last">
              sempre entregou um resultado a cima do es<span class="lt-line-clamp__ellipsis">...
                <a href="#" class="lt-line-clamp__more">Visualizar mais</a>
              </span></span>
              <!----><span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">... <a class="lt-line-clamp__more" href="#">Visualizar mais</a></span></div>
            </blockquote>
          </div>
        </li>
        <li id="ember5585" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
          <a data-control-name="recommendation_details_profile" href="/in/jeneffer-ferreira-ribeiro-m-b-a-a219b332/" id="ember5586" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Jeneffer Ferreira Ribeiro, M.B.A." height="56" width="56" src="https://media.licdn.com/dms/image/C5603AQGWYLj7vLyB7Q/profile-displayphoto-shrink_100_100/0?e=1571270400&amp;v=beta&amp;t=qp6MbUvx-14SsXrl0cb-0_3sdI2WbdesytDms5QqqWM">
            <div class="pv-recommendation-entity__detail">
              <h3 class="t-16 t-black t-bold">Jeneffer Ferreira Ribeiro, M.B.A.</h3>
              <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Project Manager na Algar Tech</p>
              <p class="t-12 t-black--light t-normal">
                Em 19 de abril de 2015, Antônio Carlos trabalhava com Jeneffer no mesmo grupo
              </p>
            </div>
          </a></div>
          <div class="pv-recommendation-entity__highlights">
            <blockquote class="pv-recommendation-entity__text relative">
              <div id="ember5588" class="ember-view">    <span class="lt-line-clamp__line">Atuei com o Antônio Carlos em alguns projetos e sua</span>
              <span class="lt-line-clamp__line">competência técnica em tecnologias atuais é diferenciada.</span>
              <span class="lt-line-clamp__line">Possui capacidade de aplicar estas práticas próximas a</span>
              <span class="lt-line-clamp__line">realidade tática-operacional das empresas.  É uma pessoa</span>
              <span class="lt-line-clamp__line lt-line-clamp__line--last">
                organizada e com uma didática que facilita a<span class="lt-line-clamp__ellipsis">...
                  <a href="#" class="lt-line-clamp__more">Visualizar mais</a>
                </span></span>
                <!----><span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">... <a class="lt-line-clamp__more" href="#">Visualizar mais</a></span></div>
              </blockquote>
            </div>
          </li>
          <li id="ember5589" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
            <a data-control-name="recommendation_details_profile" href="/in/rmendesferreira/" id="ember5590" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Rogerio Mendes" height="56" width="56" src="https://media.licdn.com/dms/image/C4D03AQEG19v7xr-ryA/profile-displayphoto-shrink_100_100/0?e=1571270400&amp;v=beta&amp;t=7dtkYJEZGKaI4ZvSHA_vIIkkomehtAbdI81n2dmVPIg">
              <div class="pv-recommendation-entity__detail">
                <h3 class="t-16 t-black t-bold">Rogerio Mendes</h3>
                <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Sr. IT Manager</p>
                <p class="t-12 t-black--light t-normal">
                  Em 10 de abril de 2015, Rogerio ensinava Antônio Carlos
                </p>
              </div>
            </a></div>
            <div class="pv-recommendation-entity__highlights">
              <blockquote class="pv-recommendation-entity__text relative">
                <div id="ember5592" class="ember-view">    <span class="lt-line-clamp__line">Antônio Carlos foi meu aluno no curso de Sistemas de</span>
                <span class="lt-line-clamp__line">Informação, tendo se destacado por sua seriedade e dedicação</span>
                <span class="lt-line-clamp__line">aos estudos. Sempre se mostrou comprometido em aprender</span>
                <span class="lt-line-clamp__line lt-line-clamp__line--last">
                  e aplicar os conhecimentos adquiridos ao longo do curso.<!----></span>
                  <!----><span class="lt-line-clamp__ellipsis lt-line-clamp__ellipsis--dummy">... <a class="lt-line-clamp__more" href="#">Visualizar mais</a></span></div>
                </blockquote>
              </div>
            </li>
  </ul>
</div>