 <div class="user-details">
  <h1> Testimonials </h1>
  <p> Some words wrote by partners, coworkers and college teachers </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>SEO Optimize, Advanced performance configuration, best and updated front-end soluttions</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-django-plain colored"></i>
      <p>I love Python and I will always recommend it to you. But we can create your solution in different languages according to your taste.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <p>Best Practices, TDD development, LCDP, CI/CD DevOps.</p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Project</h2>
      <i class="devicon-slack-plain colored"></i>
      <p>Project Management, SCRUM Management, Teamwork, Trainning.</p>
    </div>
    <div class="tech">
      <h2>All Plataforms</h2>
      <i class="devicon-android-plain colored"></i>
      <p>Web System, Desktop Systems, Mobile App, IoT, Ethererum dApp development</p>
    </div>
    <div class="tech">
      <h2>And more...</h2>
      <i class="devicon-postgresql-plain colored"></i>
      <p>Software Arquiteture, Database Manager, BigData & Data Mining, IA Search.</p>
    </div>
</div>
