#projects {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.title {
  text-align: center;
  margin: 5px auto;
}

.project-list {
	ul > li {
		img {
		 width: 400px;
		}
	}
	.description {
		text-align: left;
	}
	.project-details-list {
		text-align: left;
	}
}

.more {
	text-align: left;
}