@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'services';
@import 'testimonials';
@import 'footer';

body {
  background-color: #dfdfdf;
}

section {
  background-color: #fff;
  padding: 5px 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.title {
  text-align: center;
  margin: 0 auto;
}