<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="antoniocsis"><a class="LI-simple-link" href='https://br.linkedin.com/in/antoniocsis?trk=profile-badge'>Antônio Carlos Dias Ferreira Filho</a></div>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="testimonials">
        {% include testimonials.html %}
      </section>
      {{ content }}
      {% include footer.html %}
  </body>
